.error {
    color: #ff0000;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 8px;
    margin: 16px;
}

html * {
    color: #414141 !important;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    max-height: 300px;
    min-width: 100%;
    min-height: 100%;
}

.indexParagraphs p {
    padding: 10px;
}